p {
  font-size: 20px;
  font-weight: bolder;
}

input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid violet;
  background-color: white;
  padding: 5px 15px;
  font-size: 20px;
  outline: none;
  margin-bottom: 20px;
}

input:focus {
  background-color: #8fd3f7;
}

form {
  position: relative;
}
